body{
  color: black;
}


.jumbotron, footer{
  background-color: rgb(137, 194, 221);
}

.jumbotron{
  margin-top: 56px;
}

.card-hotel{
 margin: 10px 0;
}

.btn-reserva{
  background-color: rgb(58, 190, 58);
  color: white;
}

.btn-reserva:hover{
  background-color: rgb(18, 155, 47);
  color: white;

}

footer{
  padding: 20px;
  margin-top: 20px;;
}

.footer-address-icon{
  padding-right: 10px;
}